*.terraform
*.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.terraform.tfstate
.terraform.tfstate.backup
.terraformrc
terraform.rc
*.log
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.tfvars
.terraform.tfvars
.terraform.tfvars.json
.terraform.tfvars.yaml
.terraform.tfvars.yml
*terraform.exe